In [ ]:
!pip install -q psycopg2

In [ ]:
import pandas as pd

import psycopg2 as pg
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://postgres:123456@localhost/aula16')

In [ ]:
query = "SELECT * FROM cliente"
df = pd.read_sql_query(query, con=engine)
df

In [ ]:
query = "SELECT * FROM livro"
df = pd.read_sql_query(query, con=engine)
df

In [ ]:
conn = pg.connect(user = 'postgres',
                  password = '123456',
                  host = 'localhost',
                  port = '5432',
                  database = 'aula16'
)

In [ ]:
print(conn.info)

In [ ]:
print(conn.status)

In [ ]:
cursor = conn.cursor()

In [ ]:
# Comandos CRUD (Create, Read, Update e Delete)

new_nome = input("Digite o nome do cliente: ")
new_endereco = input("Digite o endereco do cliente: ")
cursor.execute("insert into cliente (cli_nome,cli_endereco) values('{cli_nome}','{cli_endereco}')".format(cli_nome = new_nome, cli_endereco = new_endereco))
conn.commit()

In [ ]:
cursor.execute('select * from cliente')
print(cursor.fetchall())

In [ ]:
new_titulo = input("Digite o titulo do livro: ")
new_isbn = input("Digite o isbn do livro: ")
cursor.execute("insert into livro (liv_titulo,liv_isbn) values('{liv_titulo}','{liv_isbn}')".format(liv_titulo = new_titulo, liv_isbn = new_isbn))
conn.commit()

In [ ]:
cursor.execute('select * from livro')
print(cursor.fetchall())

In [ ]:
cursor.execute("ROLLBACK")

new_frete = input("Digite o frete: ")
new_valor = input("Digite o valor: ")
id_cliente = input("Digite o id do cliente: ")
id_livro = input("Digite o id do livro: ")
cursor.execute("insert into venda (ven_frete,ven_valor,cli_id,liv_id) values('{ven_frete}','{ven_valor}','{cli_id}','{liv_id}')".format(ven_frete = new_frete, ven_valor = new_valor, cli_id=id_cliente , liv_id=id_livro))
conn.commit()

In [ ]:
cursor.execute('select * from venda')
print(cursor.fetchall())

In [ ]:
new_name = input("Digite o novo nome: ")
id = input("Digite o Id do Nome a ser alterado: ")

cursor.execute("update person set name = '{name}' where id = {idp}".format(name= new_name, idp = id))
conn.commit()

In [ ]:
id = input("Digite o Id do nome a ser apagado: ")
cursor.execute("delete from venda where vend_id = {ven_id}".format(ven_id = ven_id))
conn.commit()